{{details.decode("utf-8")}}
<a href="start?q={{dirname}}">Start</a>

<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">

     <script type="text/javascript" src="static/bootstrap/js/jquery.js"></script>
	 <!-- 引入 Bootstrap -->
	 <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	 <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	 <link href="static/bootstrap/css/test.css" rel="stylesheet" type="text/css">
     <script type="text/javascript" src="static/bootstrap/js/jquery.dataTables.js"></script>
     <script type="text/javascript" src="static/bootstrap/js/dataTables.bootstrap.js"></script>

    <title>漏洞详情</title>

</head>
<style>

</style>


<!-- bootstrap 特性容器 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Docker管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
          </ul>
            <!--
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
          -->
        </div>
      </div>
    </nav>
<div class="container-fluid">
	<div class="col-md-6">

	</div>
</div>
 <div class="container">
         <table id="example" class="table table-striped" cellpadding="0" cellspacing="0" border="0" >
            <thead>
              <tr>
                <th>漏洞级别</th>
                <th>漏洞描述</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            {% for k in data %}
              <tr>
				  <td>{{k.level.decode("utf-8") }}</td>
				  <td>{{k.name.decode("utf-8") }}</td>
				  <td>
					  <button type="button" class="btn btn-sm btn-primary" onclick="window.location.href='/detail?q={{ k.dirname }}'">详情</button>
				  </td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
</div>

 </html>