<!DOCTYPE html>
<html>
<body style="display:none">

<script type="text/javascript" src="static/jquery.min.js" rel="stylesheet"></script>

<!--<iframe src="http://127.0.0.1:9999/terminal/{{containerid}}" width="70%" height="50%"></iframe>-->
<xmp theme="united" style="display:none">
{{desc|safe}}

-----------------
[在线控制台](http://{{ip}}:{{ttyport}}/terminal/{{containerid}})

<p id="remaintime">{{container_remaintime}}分钟后漏洞环境关闭</p>

服务地址:`{{ip}}:{{port[0]}}`

[注销本环境](http://{{ip}}:{{webport}}/shutdown?q={{vulndir}})
</xmp>

<script type="text/javascript" src="static/strapdown/strapdown.js" rel="stylesheet"></script>
</body>

</html>