@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(/static/strapdown//googlefont/2Q-AW1e_taO6pHwMXcXW5w.ttf) format('truetype');
}